/* 
* Base CSS
* @Author: Ignacio Cabrera - Matias Schmid
*/


/* Reset All */
* {
    margin: 0;
    padding: 0;
}


/* Body */
body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* NAV BAR */
nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
}

nav ul li {
    width: 20%;
    float: left;
    text-align: center;
}

nav ul li a,
nav ul li a:link {
    background-color: #000000;
    margin: 1em 0em 1em 0em;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

nav ul li a:hover,
nav ul li a:link:hover {
    color: rgba(200,0,254, 0.6);
}

nav ul li h4 {
    margin: 1em 0em 1em 0em;
    border-radius: 6px;
    font-size: 1em;
    display: block;
    color: #FFFFFF;
}

nav ul li input {
    margin: 1em 0em 1em 0em;
    border-radius: 6px;
    font-size: 1em;
    display: block;
}

.selected {
    color: rgba(254,0,200, 0.2)
}


/* Consola Numark */
#mezcladora-audio {
    background-image: url(./../img/Consola\ Numark.jpg);
    background-position-y: -12em;
    height: 24em;
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin: 0.8em 0em 0.8em 0em; */
    padding: 0.8em 0;
    border-bottom: 3em solid #000000;
}


/* Separador */
/* #separador {
    height: 4em;
    background-color: #000000;
} */


/* Contenedor Centrado */
.centrado {
    width: 60%;
    margin: 4em auto;
}


/* Ordenar elementos Flotantes */
.agrupador {
    margin: 2em 0;
    overflow: hidden;
}


/* Tamaño de las imagenes de los discos */
.discosV figure img {
    width: 100%;
}


/* Decks de los discos */
.discosV figure {
    width: 20%;
    margin-right: 6%;
    float: left;
}

.discosV figure:last-child {
    margin-right: 0;
}


/* Titulo Destacado */
#destacadoTitulo {
    padding-left: 20%;
    color: #FFFFFF;
    background-color: #000000;
}


/* Seccion Destacado */
#destacadoSeccion div {
    width: 30%;
    margin-right: 5%;
    float: left;
}
#destacadoSeccion div figure img {
    width: 100%;
}

#destacadoSeccion div:last-child {
    margin-right: 0;
}

#destacadoSeccionction div figure img {
    width: 100%;
}

#destacadoSeccion div p {
    margin-top: 1em;
}

ol {
    margin-top: 1em;
    list-style-position: inside;
}


#agrupadorppal div,
#agrupadorppal section {
    float: left;
}

#agrupadorsec {
    display: block;
    width: 65%;
    margin-right: 5%;
}

#agrupadorsec h2 {
    margin-bottom: 1em;
}

/* Mas Visitado */
#mas-visitado h4 {
    width: 30%;
}

#mas-visitado figure, #mas-visitado div {
    float: left;
}

#mas-visitado figure {
    width: 30%;
    margin-right: 5%;
}

#mas-visitado figure img {
    margin-top: 0.8em;
    width: 100%;
}

#mas-visitado figure figcaption {
    margin-top: 1em;
    border: 1px solid #000000;
}

#mas-visitado div {
    width: 65%;
}

#mas-visitado div div {
    margin-top: 1em;
    width: 100%;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

#mas-visitado div div ol {
    margin-bottom: 1em;
    font-size: 0.6em;
}

/* Mas Vendido */
#mas-vendido {
    margin-top: 2em;
    border: 1px solid #000000;
}

#mas-vendido figure,
#mas-vendido p {
    float: left;
}

#mas-vendido figure {
    width: 30%;
    margin-right: 5%;
}

#mas-vendido figure img {
    margin-left: 5%;
    width: 100%;
}

#mas-vendido p {
    width: 60%;
}

/* Recomendados */
#recomendados {
    width: 30%;
    display: block;
}

#recomendados figure img {
    width: 20%;
    float: left;
}

#recomendados figure figcaption {
    float: left;
    width: 80%;
    font-size: 0.6em;
}


/* Footer */
footer {
    background-color: #000000;
}

footer div {
    padding-left: 20%;
    margin-right: 10%;
    color: #FFFFFF;
    float: left;
}

footer div:last-child {
    margin-right: 0;
}